/* Navbar styles */
.navbar {
    background-color: #00AC78;
    color: #fff;
}

.navbar-brand {
    font-size: 1.8rem;
}
.nav-link {
    font-size: 1.3rem;
}
.navbar-toggler {
    font-size: 1.5rem;
    border: 2px solid transparent;
}

#brand-logo {
    position: relative;
    bottom: 3px;
    height: 2.8rem;
    width: 2.8rem;
    margin-right: .5rem;
}
